
# Created by https://www.toptal.com/developers/gitignore/api/c++,vscode,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=c++,vscode,visualstudiocode

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### VisualStudioCode ###
.vscode/
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### vscode ###
!.vscode/settings.json
!.vscode/extensions.json

*/day??
/notes

# End of https://www.toptal.com/developers/gitignore/api/c++,vscode,visualstudiocode
